@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.title {
  text-transform: uppercase;
  font-size: 116px;
}

.section-title {
  text-transform: uppercase;
}

.btn {
  padding: 16px;
  font-size: 1.5em;
  max-width: 60ch;
  margin: .5ex;
}

.bubble-chart {
  width: 50%;
}

.leaflet-container {
  min-width: 50%;
  min-height: 50%;
}

video {
  max-width: 100%;
}

.node {
  stroke-width: 2px;
  stroke: #777;
}

.node.charging {
  stroke: #ff8f41;
  animation: glow 1s ease-in-out 250ms infinite alternate;
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
